html, body {
  margin: 0px;
  padding: 25px calc(50% - 125px);
  background-color: #444;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #DDD;
  text-align: center;
}

button {
  border-width: 0px;
  background-color: #bb88ff;
  border-radius: 3px;
  width: 250px;
  height: 30px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 5px;
  margin: 10px;
  text-align: center;
  color: #103;
  transition: width .2s, height .2s, background-color .2s, margin: .2s;
}

button:hover {
  background-color: #DDBBFF;
  font-size: 15px;
  width: 255px;
  heigh: 35px;
  margin: 10px;
  transition: width .2s, height .2s, background-color .2s, margin: .2s;
}

.secret {
  background-color: #444;
  color: #444
}

.secret:hover {
  background-color: #4a4a4a !important;
  color: #585858 !important;
}
