html, body {
  margin: 0px;
  padding: 25px calc(50% - 125px);
  background-color: #444;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #DDD;
  text-align: center;
}

button {
  border-width: 0px;
  background-color: #bb88ff;
  border-radius: 3px;
  width: 250px;
  height: 30px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 5px;
  margin: 10px;
  text-align: center;
  color: #103;
  transition: background-color .4s, color .4s;
}

button:hover {
  background-color: #DDBBFF;
  transition: background-color .4s, color .4s;
}

.secret {
  background-color: #444;
  color: #444
}

.secret:hover {
  background-color: #4a4a4a !important;
  color: #585858 !important;
}

#resultOut {
  font-family: monospace;
  background-color: #222;
  color: #DDD;
  border-width: 1px;
  border-color: #DDD;
  border-radius: 2px;
  box-shadow: inset 0px 5px 15px 0px rgba(0,0,0,0.75);
  font-size: 16px;
  width: 250px;
  min-height: 25px;
  margin: 10px;
  padding: 5px;
}
